/* naver-logo */      .icon-0-0 { background-position: -0px -0px; }
/* papago */      .icon-0-1 { background-position: -32px -0px; }
/* input-tool */      .icon-0-2 { background-position: -64px -0px; }
/* naver-pay */      .icon-0-3 { background-position: -96px -0px; }
/* naver-blog */      .icon-0-4 { background-position: -128px -0px; }
/* naver-post */      .icon-0-5 { background-position: -160px -0px; }
/* naver-cafe */      .icon-0-6 { background-position: -192px -0px; }
/* naver-dictionary */      .icon-0-7 { background-position: -224px -0px; }
/* naver-mail */      .icon-0-8 { background-position: -256px -0px; }
/* naver-kin */      .icon-0-9 { background-position: -288px -0px; }
/* naver-shopping */      .icon-0-10 { background-position: -320px -0px; }
/* naver-news */      .icon-0-11 { background-position: -352px -0px; }
/* naver-webtoon */      .icon-0-12 { background-position: -384px -0px; }
/* naver-map */      .icon-0-13 { background-position: -416px -0px; }
/* naver-calendar */      .icon-0-14 { background-position: -448px -0px; }
/* naver-cloud */      .icon-0-15 { background-position: -480px -0px; }
/* naver-contacts */      .icon-0-16 { background-position: -512px -0px; }
/* naver-keep */      .icon-0-17 { background-position: -544px -0px; }
/* naver-office */      .icon-0-18 { background-position: -576px -0px; }
/* naver-papago-docs */      .icon-0-19 { background-position: -608px -0px; }
/* naver-tv */      .icon-0-20 { background-position: -640px -0px; }
/* naver-works */      .icon-0-21 { background-position: -672px -0px; }
/* naver-alert */      .icon-0-22 { background-position: -704px -0px; }
/* naver-ad */      .icon-0-23 { background-position: -736px -0px; }
/* naver-store */      .icon-0-24 { background-position: -768px -0px; }
/* naver-book */      .icon-0-25 { background-position: -800px -0px; }
/* naver-library */      .icon-0-26 { background-position: -832px -0px; }
/* naver-pay-business */      .icon-0-27 { background-position: -864px -0px; }
/* naver-qr */      .icon-0-28 { background-position: -896px -0px; }
/* naver-memo */      .icon-1-0 { background-position: -0px -32px; }
/* naver-game */      .icon-1-1 { background-position: -32px -32px; }
/* naver-music */      .icon-1-2 { background-position: -64px -32px; }
/* naver-sports */      .icon-1-3 { background-position: -96px -32px; }
/* naver-finance */      .icon-1-4 { background-position: -128px -32px; }
/* naver-webtoon-alt */      .icon-1-5 { background-position: -160px -32px; }
/* naver-movie */      .icon-1-6 { background-position: -192px -32px; }
/* naver-blog-alt */      .icon-1-7 { background-position: -224px -32px; }
/* naver-shopping-live */      .icon-1-8 { background-position: -256px -32px; }
/* naver-news-alt */      .icon-1-9 { background-position: -288px -32px; }
/* naver-travel */      .icon-1-10 { background-position: -320px -32px; }
/* naver-smartplace */      .icon-1-11 { background-position: -352px -32px; }
/* naver-modoo */      .icon-1-12 { background-position: -384px -32px; }
/* naver-academy */      .icon-1-13 { background-position: -416px -32px; }
/* naver-ai */      .icon-1-14 { background-position: -448px -32px; }
/* naver-developer */      .icon-1-15 { background-position: -480px -32px; }
/* naver-cloud-platform */      .icon-1-16 { background-position: -512px -32px; }
/* naver-worksmobile */      .icon-1-17 { background-position: -544px -32px; }
/* naver-line */      .icon-1-18 { background-position: -576px -32px; }
/* naver-band */      .icon-1-19 { background-position: -608px -32px; }
/* naver-whale */      .icon-1-20 { background-position: -640px -32px; }
/* naver-presentation */      .icon-1-21 { background-position: -672px -32px; }
/* naver-spreadsheet */      .icon-1-22 { background-position: -704px -32px; }
/* naver-docs */      .icon-1-23 { background-position: -736px -32px; }
/* naver-form */      .icon-1-24 { background-position: -768px -32px; }
/* naver-mail-business */      .icon-1-25 { background-position: -800px -32px; }
/* naver-certificate */      .icon-1-26 { background-position: -832px -32px; }
/* naver-safety */      .icon-1-27 { background-position: -864px -32px; }
/* naver-policy */      .icon-1-28 { background-position: -896px -32px; }
/* naver-terms */      .icon-2-0 { background-position: -0px -64px; }
/* naver-center */      .icon-2-1 { background-position: -32px -64px; }
/* naver-searchad */      .icon-2-2 { background-position: -64px -64px; }
/* naver-partnersquare */      .icon-2-3 { background-position: -96px -64px; }
/* naver-gift */      .icon-2-4 { background-position: -128px -64px; }
/* naver-donation */      .icon-2-5 { background-position: -160px -64px; }
/* naver-clova */      .icon-2-6 { background-position: -192px -64px; }
/* naver-gpt */      .icon-2-7 { background-position: -224px -64px; }
/* naver-translate */      .icon-2-8 { background-position: -256px -64px; }
/* naver-ocr */      .icon-2-9 { background-position: -288px -64px; }
/* naver-map-alt */      .icon-2-10 { background-position: -320px -64px; }
/* naver-smartlens */      .icon-2-11 { background-position: -352px -64px; }
/* naver-square */      .icon-2-12 { background-position: -384px -64px; }
/* naver-vibe */      .icon-2-13 { background-position: -416px -64px; }
/* naver-station */      .icon-2-14 { background-position: -448px -64px; }
/* naver-developer-center */      .icon-2-15 { background-position: -480px -64px; }
/* naver-education */      .icon-2-16 { background-position: -512px -64px; }
/* naver-openapi */      .icon-2-17 { background-position: -544px -64px; }
/* naver-career */      .icon-2-18 { background-position: -576px -64px; }
/* naver-identity */      .icon-2-19 { background-position: -608px -64px; }
/* naver-verify */      .icon-2-20 { background-position: -640px -64px; }
/* naver-membership */      .icon-2-21 { background-position: -672px -64px; }
/* icon-80 */      .icon-2-22 { background-position: -704px -64px; }
/* icon-81 */      .icon-2-23 { background-position: -736px -64px; }
/* icon-82 */      .icon-2-24 { background-position: -768px -64px; }
/* icon-83 */      .icon-2-25 { background-position: -800px -64px; }
/* icon-84 */      .icon-2-26 { background-position: -832px -64px; }
/* icon-85 */      .icon-2-27 { background-position: -864px -64px; }
/* icon-86 */      .icon-2-28 { background-position: -896px -64px; }
/* icon-87 */      .icon-3-0 { background-position: -0px -96px; }
/* icon-88 */      .icon-3-1 { background-position: -32px -96px; }
/* icon-89 */      .icon-3-2 { background-position: -64px -96px; }
/* icon-90 */      .icon-3-3 { background-position: -96px -96px; }
/* icon-91 */      .icon-3-4 { background-position: -128px -96px; }
/* icon-92 */      .icon-3-5 { background-position: -160px -96px; }
/* icon-93 */      .icon-3-6 { background-position: -192px -96px; }
/* icon-94 */      .icon-3-7 { background-position: -224px -96px; }
/* icon-95 */      .icon-3-8 { background-position: -256px -96px; }
/* icon-96 */      .icon-3-9 { background-position: -288px -96px; }
/* icon-97 */      .icon-3-10 { background-position: -320px -96px; }
/* icon-98 */      .icon-3-11 { background-position: -352px -96px; }
/* icon-99 */      .icon-3-12 { background-position: -384px -96px; }
/* icon-100 */      .icon-3-13 { background-position: -416px -96px; }
/* icon-101 */      .icon-3-14 { background-position: -448px -96px; }
/* icon-102 */      .icon-3-15 { background-position: -480px -96px; }
/* icon-103 */      .icon-3-16 { background-position: -512px -96px; }
/* icon-104 */      .icon-3-17 { background-position: -544px -96px; }
/* icon-105 */      .icon-3-18 { background-position: -576px -96px; }
/* icon-106 */      .icon-3-19 { background-position: -608px -96px; }
/* icon-107 */      .icon-3-20 { background-position: -640px -96px; }
/* icon-108 */      .icon-3-21 { background-position: -672px -96px; }
/* icon-109 */      .icon-3-22 { background-position: -704px -96px; }
/* icon-110 */      .icon-3-23 { background-position: -736px -96px; }
/* icon-111 */      .icon-3-24 { background-position: -768px -96px; }
/* icon-112 */      .icon-3-25 { background-position: -800px -96px; }
/* icon-113 */      .icon-3-26 { background-position: -832px -96px; }
/* icon-114 */      .icon-3-27 { background-position: -864px -96px; }
/* icon-115 */      .icon-3-28 { background-position: -896px -96px; }
/* icon-116 */      .icon-4-0 { background-position: -0px -128px; }
/* icon-117 */      .icon-4-1 { background-position: -32px -128px; }
/* icon-118 */      .icon-4-2 { background-position: -64px -128px; }
/* icon-119 */      .icon-4-3 { background-position: -96px -128px; }
/* icon-120 */      .icon-4-4 { background-position: -128px -128px; }
/* icon-121 */      .icon-4-5 { background-position: -160px -128px; }
/* icon-122 */      .icon-4-6 { background-position: -192px -128px; }
/* icon-123 */      .icon-4-7 { background-position: -224px -128px; }
/* icon-124 */      .icon-4-8 { background-position: -256px -128px; }
/* icon-125 */      .icon-4-9 { background-position: -288px -128px; }
/* icon-126 */      .icon-4-10 { background-position: -320px -128px; }
/* icon-127 */      .icon-4-11 { background-position: -352px -128px; }
/* icon-128 */      .icon-4-12 { background-position: -384px -128px; }
/* icon-129 */      .icon-4-13 { background-position: -416px -128px; }
/* icon-130 */      .icon-4-14 { background-position: -448px -128px; }
/* icon-131 */      .icon-4-15 { background-position: -480px -128px; }
/* icon-132 */      .icon-4-16 { background-position: -512px -128px; }
/* icon-133 */      .icon-4-17 { background-position: -544px -128px; }
/* icon-134 */      .icon-4-18 { background-position: -576px -128px; }
/* icon-135 */      .icon-4-19 { background-position: -608px -128px; }
/* icon-136 */      .icon-4-20 { background-position: -640px -128px; }
/* icon-137 */      .icon-4-21 { background-position: -672px -128px; }
/* icon-138 */      .icon-4-22 { background-position: -704px -128px; }
/* icon-139 */      .icon-4-23 { background-position: -736px -128px; }
/* icon-140 */      .icon-4-24 { background-position: -768px -128px; }
/* icon-141 */      .icon-4-25 { background-position: -800px -128px; }
/* icon-142 */      .icon-4-26 { background-position: -832px -128px; }
/* icon-143 */      .icon-4-27 { background-position: -864px -128px; }
/* icon-144 */      .icon-4-28 { background-position: -896px -128px; }
/* icon-145 */      .icon-5-0 { background-position: -0px -160px; }
/* icon-146 */      .icon-5-1 { background-position: -32px -160px; }
/* icon-147 */      .icon-5-2 { background-position: -64px -160px; }
/* icon-148 */      .icon-5-3 { background-position: -96px -160px; }
/* icon-149 */      .icon-5-4 { background-position: -128px -160px; }
/* icon-150 */      .icon-5-5 { background-position: -160px -160px; }
/* icon-151 */      .icon-5-6 { background-position: -192px -160px; }
/* icon-152 */      .icon-5-7 { background-position: -224px -160px; }
/* icon-153 */      .icon-5-8 { background-position: -256px -160px; }
/* icon-154 */      .icon-5-9 { background-position: -288px -160px; }
/* icon-155 */      .icon-5-10 { background-position: -320px -160px; }
/* icon-156 */      .icon-5-11 { background-position: -352px -160px; }
/* icon-157 */      .icon-5-12 { background-position: -384px -160px; }
/* icon-158 */      .icon-5-13 { background-position: -416px -160px; }
/* icon-159 */      .icon-5-14 { background-position: -448px -160px; }
/* icon-160 */      .icon-5-15 { background-position: -480px -160px; }
/* icon-161 */      .icon-5-16 { background-position: -512px -160px; }
/* icon-162 */      .icon-5-17 { background-position: -544px -160px; }
/* icon-163 */      .icon-5-18 { background-position: -576px -160px; }
/* icon-164 */      .icon-5-19 { background-position: -608px -160px; }
/* icon-165 */      .icon-5-20 { background-position: -640px -160px; }
/* icon-166 */      .icon-5-21 { background-position: -672px -160px; }
/* icon-167 */      .icon-5-22 { background-position: -704px -160px; }
/* icon-168 */      .icon-5-23 { background-position: -736px -160px; }
/* icon-169 */      .icon-5-24 { background-position: -768px -160px; }
/* icon-170 */      .icon-5-25 { background-position: -800px -160px; }
/* icon-171 */      .icon-5-26 { background-position: -832px -160px; }
/* icon-172 */      .icon-5-27 { background-position: -864px -160px; }
/* icon-173 */      .icon-5-28 { background-position: -896px -160px; }
/* icon-174 */      .icon-6-0 { background-position: -0px -192px; }
/* icon-175 */      .icon-6-1 { background-position: -32px -192px; }
/* icon-176 */      .icon-6-2 { background-position: -64px -192px; }
/* icon-177 */      .icon-6-3 { background-position: -96px -192px; }
/* icon-178 */      .icon-6-4 { background-position: -128px -192px; }
/* icon-179 */      .icon-6-5 { background-position: -160px -192px; }
/* icon-180 */      .icon-6-6 { background-position: -192px -192px; }
/* icon-181 */      .icon-6-7 { background-position: -224px -192px; }
/* icon-182 */      .icon-6-8 { background-position: -256px -192px; }
/* icon-183 */      .icon-6-9 { background-position: -288px -192px; }
/* icon-184 */      .icon-6-10 { background-position: -320px -192px; }
/* icon-185 */      .icon-6-11 { background-position: -352px -192px; }
/* icon-186 */      .icon-6-12 { background-position: -384px -192px; }
/* icon-187 */      .icon-6-13 { background-position: -416px -192px; }
/* icon-188 */      .icon-6-14 { background-position: -448px -192px; }
/* icon-189 */      .icon-6-15 { background-position: -480px -192px; }
/* icon-190 */      .icon-6-16 { background-position: -512px -192px; }
/* icon-191 */      .icon-6-17 { background-position: -544px -192px; }
/* icon-192 */      .icon-6-18 { background-position: -576px -192px; }
/* icon-193 */      .icon-6-19 { background-position: -608px -192px; }
/* icon-194 */      .icon-6-20 { background-position: -640px -192px; }
/* icon-195 */      .icon-6-21 { background-position: -672px -192px; }
/* icon-196 */      .icon-6-22 { background-position: -704px -192px; }
/* icon-197 */      .icon-6-23 { background-position: -736px -192px; }
/* icon-198 */      .icon-6-24 { background-position: -768px -192px; }
/* icon-199 */      .icon-6-25 { background-position: -800px -192px; }
/* icon-200 */      .icon-6-26 { background-position: -832px -192px; }
/* icon-201 */      .icon-6-27 { background-position: -864px -192px; }
/* icon-202 */      .icon-6-28 { background-position: -896px -192px; }
/* icon-203 */      .icon-7-0 { background-position: -0px -224px; }
/* icon-204 */      .icon-7-1 { background-position: -32px -224px; }
/* icon-205 */      .icon-7-2 { background-position: -64px -224px; }
/* icon-206 */      .icon-7-3 { background-position: -96px -224px; }
/* icon-207 */      .icon-7-4 { background-position: -128px -224px; }
/* icon-208 */      .icon-7-5 { background-position: -160px -224px; }
/* icon-209 */      .icon-7-6 { background-position: -192px -224px; }
/* icon-210 */      .icon-7-7 { background-position: -224px -224px; }
/* icon-211 */      .icon-7-8 { background-position: -256px -224px; }
/* icon-212 */      .icon-7-9 { background-position: -288px -224px; }
/* icon-213 */      .icon-7-10 { background-position: -320px -224px; }
/* icon-214 */      .icon-7-11 { background-position: -352px -224px; }
/* icon-215 */      .icon-7-12 { background-position: -384px -224px; }
/* icon-216 */      .icon-7-13 { background-position: -416px -224px; }
/* icon-217 */      .icon-7-14 { background-position: -448px -224px; }
/* icon-218 */      .icon-7-15 { background-position: -480px -224px; }
/* icon-219 */      .icon-7-16 { background-position: -512px -224px; }
/* icon-220 */      .icon-7-17 { background-position: -544px -224px; }
/* icon-221 */      .icon-7-18 { background-position: -576px -224px; }
/* icon-222 */      .icon-7-19 { background-position: -608px -224px; }
/* icon-223 */      .icon-7-20 { background-position: -640px -224px; }
/* icon-224 */      .icon-7-21 { background-position: -672px -224px; }
/* icon-225 */      .icon-7-22 { background-position: -704px -224px; }
/* icon-226 */      .icon-7-23 { background-position: -736px -224px; }
/* icon-227 */      .icon-7-24 { background-position: -768px -224px; }
/* icon-228 */      .icon-7-25 { background-position: -800px -224px; }
/* icon-229 */      .icon-7-26 { background-position: -832px -224px; }
/* icon-230 */      .icon-7-27 { background-position: -864px -224px; }
/* icon-231 */      .icon-7-28 { background-position: -896px -224px; }
/* icon-232 */      .icon-8-0 { background-position: -0px -256px; }
/* icon-233 */      .icon-8-1 { background-position: -32px -256px; }
/* icon-234 */      .icon-8-2 { background-position: -64px -256px; }
/* icon-235 */      .icon-8-3 { background-position: -96px -256px; }
/* icon-236 */      .icon-8-4 { background-position: -128px -256px; }
/* icon-237 */      .icon-8-5 { background-position: -160px -256px; }
/* icon-238 */      .icon-8-6 { background-position: -192px -256px; }
/* icon-239 */      .icon-8-7 { background-position: -224px -256px; }
/* icon-240 */      .icon-8-8 { background-position: -256px -256px; }
/* icon-241 */      .icon-8-9 { background-position: -288px -256px; }
/* icon-242 */      .icon-8-10 { background-position: -320px -256px; }
/* icon-243 */      .icon-8-11 { background-position: -352px -256px; }
/* icon-244 */      .icon-8-12 { background-position: -384px -256px; }
/* icon-245 */      .icon-8-13 { background-position: -416px -256px; }
/* icon-246 */      .icon-8-14 { background-position: -448px -256px; }
/* icon-247 */      .icon-8-15 { background-position: -480px -256px; }
/* icon-248 */      .icon-8-16 { background-position: -512px -256px; }
/* icon-249 */      .icon-8-17 { background-position: -544px -256px; }
/* icon-250 */      .icon-8-18 { background-position: -576px -256px; }
/* icon-251 */      .icon-8-19 { background-position: -608px -256px; }
/* icon-252 */      .icon-8-20 { background-position: -640px -256px; }
/* icon-253 */      .icon-8-21 { background-position: -672px -256px; }
/* icon-254 */      .icon-8-22 { background-position: -704px -256px; }
/* icon-255 */      .icon-8-23 { background-position: -736px -256px; }
/* icon-256 */      .icon-8-24 { background-position: -768px -256px; }
/* icon-257 */      .icon-8-25 { background-position: -800px -256px; }
/* icon-258 */      .icon-8-26 { background-position: -832px -256px; }
/* icon-259 */      .icon-8-27 { background-position: -864px -256px; }
/* icon-260 */      .icon-8-28 { background-position: -896px -256px; }
/* icon-261 */      .icon-9-0 { background-position: -0px -288px; }
/* icon-262 */      .icon-9-1 { background-position: -32px -288px; }
/* icon-263 */      .icon-9-2 { background-position: -64px -288px; }
/* icon-264 */      .icon-9-3 { background-position: -96px -288px; }
/* icon-265 */      .icon-9-4 { background-position: -128px -288px; }
/* icon-266 */      .icon-9-5 { background-position: -160px -288px; }
/* icon-267 */      .icon-9-6 { background-position: -192px -288px; }
/* icon-268 */      .icon-9-7 { background-position: -224px -288px; }
/* icon-269 */      .icon-9-8 { background-position: -256px -288px; }
/* icon-270 */      .icon-9-9 { background-position: -288px -288px; }
/* icon-271 */      .icon-9-10 { background-position: -320px -288px; }
/* icon-272 */      .icon-9-11 { background-position: -352px -288px; }
/* icon-273 */      .icon-9-12 { background-position: -384px -288px; }
/* icon-274 */      .icon-9-13 { background-position: -416px -288px; }
/* icon-275 */      .icon-9-14 { background-position: -448px -288px; }
/* icon-276 */      .icon-9-15 { background-position: -480px -288px; }
/* icon-277 */      .icon-9-16 { background-position: -512px -288px; }
/* icon-278 */      .icon-9-17 { background-position: -544px -288px; }
/* icon-279 */      .icon-9-18 { background-position: -576px -288px; }
/* icon-280 */      .icon-9-19 { background-position: -608px -288px; }
/* icon-281 */      .icon-9-20 { background-position: -640px -288px; }
/* icon-282 */      .icon-9-21 { background-position: -672px -288px; }
/* icon-283 */      .icon-9-22 { background-position: -704px -288px; }
/* icon-284 */      .icon-9-23 { background-position: -736px -288px; }
/* icon-285 */      .icon-9-24 { background-position: -768px -288px; }
/* icon-286 */      .icon-9-25 { background-position: -800px -288px; }
/* icon-287 */      .icon-9-26 { background-position: -832px -288px; }
/* icon-288 */      .icon-9-27 { background-position: -864px -288px; }
/* icon-289 */      .icon-9-28 { background-position: -896px -288px; }
/* icon-290 */      .icon-10-0 { background-position: -0px -320px; }
/* icon-291 */      .icon-10-1 { background-position: -32px -320px; }
/* icon-292 */      .icon-10-2 { background-position: -64px -320px; }
/* icon-293 */      .icon-10-3 { background-position: -96px -320px; }
/* icon-294 */      .icon-10-4 { background-position: -128px -320px; }
/* icon-295 */      .icon-10-5 { background-position: -160px -320px; }
/* icon-296 */      .icon-10-6 { background-position: -192px -320px; }
/* icon-297 */      .icon-10-7 { background-position: -224px -320px; }
/* icon-298 */      .icon-10-8 { background-position: -256px -320px; }
/* icon-299 */      .icon-10-9 { background-position: -288px -320px; }
/* icon-300 */      .icon-10-10 { background-position: -320px -320px; }
/* icon-301 */      .icon-10-11 { background-position: -352px -320px; }
/* icon-302 */      .icon-10-12 { background-position: -384px -320px; }
/* icon-303 */      .icon-10-13 { background-position: -416px -320px; }
/* icon-304 */      .icon-10-14 { background-position: -448px -320px; }
/* icon-305 */      .icon-10-15 { background-position: -480px -320px; }
/* icon-306 */      .icon-10-16 { background-position: -512px -320px; }
/* icon-307 */      .icon-10-17 { background-position: -544px -320px; }
/* icon-308 */      .icon-10-18 { background-position: -576px -320px; }
/* icon-309 */      .icon-10-19 { background-position: -608px -320px; }
/* icon-310 */      .icon-10-20 { background-position: -640px -320px; }
/* icon-311 */      .icon-10-21 { background-position: -672px -320px; }
/* icon-312 */      .icon-10-22 { background-position: -704px -320px; }
/* icon-313 */      .icon-10-23 { background-position: -736px -320px; }
/* icon-314 */      .icon-10-24 { background-position: -768px -320px; }
/* icon-315 */      .icon-10-25 { background-position: -800px -320px; }
/* icon-316 */      .icon-10-26 { background-position: -832px -320px; }
/* icon-317 */      .icon-10-27 { background-position: -864px -320px; }
/* icon-318 */      .icon-10-28 { background-position: -896px -320px; }
/* icon-319 */      .icon-11-0 { background-position: -0px -352px; }
/* icon-320 */      .icon-11-1 { background-position: -32px -352px; }
/* icon-321 */      .icon-11-2 { background-position: -64px -352px; }
/* icon-322 */      .icon-11-3 { background-position: -96px -352px; }
/* icon-323 */      .icon-11-4 { background-position: -128px -352px; }
/* icon-324 */      .icon-11-5 { background-position: -160px -352px; }
/* icon-325 */      .icon-11-6 { background-position: -192px -352px; }
/* icon-326 */      .icon-11-7 { background-position: -224px -352px; }
/* icon-327 */      .icon-11-8 { background-position: -256px -352px; }
/* icon-328 */      .icon-11-9 { background-position: -288px -352px; }
/* icon-329 */      .icon-11-10 { background-position: -320px -352px; }
/* icon-330 */      .icon-11-11 { background-position: -352px -352px; }
/* icon-331 */      .icon-11-12 { background-position: -384px -352px; }
/* icon-332 */      .icon-11-13 { background-position: -416px -352px; }
/* icon-333 */      .icon-11-14 { background-position: -448px -352px; }
/* icon-334 */      .icon-11-15 { background-position: -480px -352px; }
/* icon-335 */      .icon-11-16 { background-position: -512px -352px; }
/* icon-336 */      .icon-11-17 { background-position: -544px -352px; }
/* icon-337 */      .icon-11-18 { background-position: -576px -352px; }
/* icon-338 */      .icon-11-19 { background-position: -608px -352px; }
/* icon-339 */      .icon-11-20 { background-position: -640px -352px; }
/* icon-340 */      .icon-11-21 { background-position: -672px -352px; }
/* icon-341 */      .icon-11-22 { background-position: -704px -352px; }
/* icon-342 */      .icon-11-23 { background-position: -736px -352px; }
/* icon-343 */      .icon-11-24 { background-position: -768px -352px; }
/* icon-344 */      .icon-11-25 { background-position: -800px -352px; }
/* icon-345 */      .icon-11-26 { background-position: -832px -352px; }
/* icon-346 */      .icon-11-27 { background-position: -864px -352px; }
/* icon-347 */      .icon-11-28 { background-position: -896px -352px; }
/* icon-348 */      .icon-12-0 { background-position: -0px -384px; }
/* icon-349 */      .icon-12-1 { background-position: -32px -384px; }
/* icon-350 */      .icon-12-2 { background-position: -64px -384px; }
/* icon-351 */      .icon-12-3 { background-position: -96px -384px; }
/* icon-352 */      .icon-12-4 { background-position: -128px -384px; }
/* icon-353 */      .icon-12-5 { background-position: -160px -384px; }
/* icon-354 */      .icon-12-6 { background-position: -192px -384px; }
/* icon-355 */      .icon-12-7 { background-position: -224px -384px; }
/* icon-356 */      .icon-12-8 { background-position: -256px -384px; }
/* icon-357 */      .icon-12-9 { background-position: -288px -384px; }
/* icon-358 */      .icon-12-10 { background-position: -320px -384px; }
/* icon-359 */      .icon-12-11 { background-position: -352px -384px; }
/* icon-360 */      .icon-12-12 { background-position: -384px -384px; }
/* icon-361 */      .icon-12-13 { background-position: -416px -384px; }
/* icon-362 */      .icon-12-14 { background-position: -448px -384px; }
/* icon-363 */      .icon-12-15 { background-position: -480px -384px; }
/* icon-364 */      .icon-12-16 { background-position: -512px -384px; }
/* icon-365 */      .icon-12-17 { background-position: -544px -384px; }
/* icon-366 */      .icon-12-18 { background-position: -576px -384px; }
/* icon-367 */      .icon-12-19 { background-position: -608px -384px; }
/* icon-368 */      .icon-12-20 { background-position: -640px -384px; }
/* icon-369 */      .icon-12-21 { background-position: -672px -384px; }
/* icon-370 */      .icon-12-22 { background-position: -704px -384px; }
/* icon-371 */      .icon-12-23 { background-position: -736px -384px; }
/* icon-372 */      .icon-12-24 { background-position: -768px -384px; }
/* icon-373 */      .icon-12-25 { background-position: -800px -384px; }
/* icon-374 */      .icon-12-26 { background-position: -832px -384px; }
/* icon-375 */      .icon-12-27 { background-position: -864px -384px; }
/* icon-376 */      .icon-12-28 { background-position: -896px -384px; }
/* icon-377 */      .icon-13-0 { background-position: -0px -416px; }
/* icon-378 */      .icon-13-1 { background-position: -32px -416px; }
/* icon-379 */      .icon-13-2 { background-position: -64px -416px; }
/* icon-380 */      .icon-13-3 { background-position: -96px -416px; }
/* icon-381 */      .icon-13-4 { background-position: -128px -416px; }
/* icon-382 */      .icon-13-5 { background-position: -160px -416px; }
/* icon-383 */      .icon-13-6 { background-position: -192px -416px; }
/* icon-384 */      .icon-13-7 { background-position: -224px -416px; }
/* icon-385 */      .icon-13-8 { background-position: -256px -416px; }
/* icon-386 */      .icon-13-9 { background-position: -288px -416px; }
/* icon-387 */      .icon-13-10 { background-position: -320px -416px; }
/* icon-388 */      .icon-13-11 { background-position: -352px -416px; }
/* icon-389 */      .icon-13-12 { background-position: -384px -416px; }
/* icon-390 */      .icon-13-13 { background-position: -416px -416px; }
/* icon-391 */      .icon-13-14 { background-position: -448px -416px; }
/* icon-392 */      .icon-13-15 { background-position: -480px -416px; }
/* icon-393 */      .icon-13-16 { background-position: -512px -416px; }
/* icon-394 */      .icon-13-17 { background-position: -544px -416px; }
/* icon-395 */      .icon-13-18 { background-position: -576px -416px; }
/* icon-396 */      .icon-13-19 { background-position: -608px -416px; }
/* icon-397 */      .icon-13-20 { background-position: -640px -416px; }
/* icon-398 */      .icon-13-21 { background-position: -672px -416px; }
/* icon-399 */      .icon-13-22 { background-position: -704px -416px; }
/* icon-400 */      .icon-13-23 { background-position: -736px -416px; }
/* icon-401 */      .icon-13-24 { background-position: -768px -416px; }
/* icon-402 */      .icon-13-25 { background-position: -800px -416px; }
/* icon-403 */      .icon-13-26 { background-position: -832px -416px; }
/* icon-404 */      .icon-13-27 { background-position: -864px -416px; }
/* icon-405 */      .icon-13-28 { background-position: -896px -416px; }
/* icon-406 */      .icon-14-0 { background-position: -0px -448px; }
/* icon-407 */      .icon-14-1 { background-position: -32px -448px; }
/* icon-408 */      .icon-14-2 { background-position: -64px -448px; }
/* icon-409 */      .icon-14-3 { background-position: -96px -448px; }
/* icon-410 */      .icon-14-4 { background-position: -128px -448px; }
/* icon-411 */      .icon-14-5 { background-position: -160px -448px; }
/* icon-412 */      .icon-14-6 { background-position: -192px -448px; }
/* icon-413 */      .icon-14-7 { background-position: -224px -448px; }
/* icon-414 */      .icon-14-8 { background-position: -256px -448px; }
/* icon-415 */      .icon-14-9 { background-position: -288px -448px; }
/* icon-416 */      .icon-14-10 { background-position: -320px -448px; }
/* icon-417 */      .icon-14-11 { background-position: -352px -448px; }
/* icon-418 */      .icon-14-12 { background-position: -384px -448px; }
/* icon-419 */      .icon-14-13 { background-position: -416px -448px; }
/* icon-420 */      .icon-14-14 { background-position: -448px -448px; }
/* icon-421 */      .icon-14-15 { background-position: -480px -448px; }
/* icon-422 */      .icon-14-16 { background-position: -512px -448px; }
/* icon-423 */      .icon-14-17 { background-position: -544px -448px; }
/* icon-424 */      .icon-14-18 { background-position: -576px -448px; }
/* icon-425 */      .icon-14-19 { background-position: -608px -448px; }
/* icon-426 */      .icon-14-20 { background-position: -640px -448px; }
/* icon-427 */      .icon-14-21 { background-position: -672px -448px; }
/* icon-428 */      .icon-14-22 { background-position: -704px -448px; }
/* icon-429 */      .icon-14-23 { background-position: -736px -448px; }
/* icon-430 */      .icon-14-24 { background-position: -768px -448px; }
/* icon-431 */      .icon-14-25 { background-position: -800px -448px; }
/* icon-432 */      .icon-14-26 { background-position: -832px -448px; }
/* icon-433 */      .icon-14-27 { background-position: -864px -448px; }
/* icon-434 */      .icon-14-28 { background-position: -896px -448px; }
/* icon-435 */      .icon-15-0 { background-position: -0px -480px; }
/* icon-436 */      .icon-15-1 { background-position: -32px -480px; }
/* icon-437 */      .icon-15-2 { background-position: -64px -480px; }
/* icon-438 */      .icon-15-3 { background-position: -96px -480px; }
/* icon-439 */      .icon-15-4 { background-position: -128px -480px; }
/* icon-440 */      .icon-15-5 { background-position: -160px -480px; }
/* icon-441 */      .icon-15-6 { background-position: -192px -480px; }
/* icon-442 */      .icon-15-7 { background-position: -224px -480px; }
/* icon-443 */      .icon-15-8 { background-position: -256px -480px; }
/* icon-444 */      .icon-15-9 { background-position: -288px -480px; }
/* icon-445 */      .icon-15-10 { background-position: -320px -480px; }
/* icon-446 */      .icon-15-11 { background-position: -352px -480px; }
/* icon-447 */      .icon-15-12 { background-position: -384px -480px; }
/* icon-448 */      .icon-15-13 { background-position: -416px -480px; }
/* icon-449 */      .icon-15-14 { background-position: -448px -480px; }
/* icon-450 */      .icon-15-15 { background-position: -480px -480px; }
/* icon-451 */      .icon-15-16 { background-position: -512px -480px; }
/* icon-452 */      .icon-15-17 { background-position: -544px -480px; }
/* icon-453 */      .icon-15-18 { background-position: -576px -480px; }
/* icon-454 */      .icon-15-19 { background-position: -608px -480px; }
/* icon-455 */      .icon-15-20 { background-position: -640px -480px; }
/* icon-456 */      .icon-15-21 { background-position: -672px -480px; }
/* icon-457 */      .icon-15-22 { background-position: -704px -480px; }
/* icon-458 */      .icon-15-23 { background-position: -736px -480px; }
/* icon-459 */      .icon-15-24 { background-position: -768px -480px; }
/* icon-460 */      .icon-15-25 { background-position: -800px -480px; }
/* icon-461 */      .icon-15-26 { background-position: -832px -480px; }
/* icon-462 */      .icon-15-27 { background-position: -864px -480px; }
/* icon-463 */      .icon-15-28 { background-position: -896px -480px; }
/* icon-464 */      .icon-16-0 { background-position: -0px -512px; }
/* icon-465 */      .icon-16-1 { background-position: -32px -512px; }
/* icon-466 */      .icon-16-2 { background-position: -64px -512px; }
/* icon-467 */      .icon-16-3 { background-position: -96px -512px; }
/* icon-468 */      .icon-16-4 { background-position: -128px -512px; }
/* icon-469 */      .icon-16-5 { background-position: -160px -512px; }
/* icon-470 */      .icon-16-6 { background-position: -192px -512px; }
/* icon-471 */      .icon-16-7 { background-position: -224px -512px; }
/* icon-472 */      .icon-16-8 { background-position: -256px -512px; }
/* icon-473 */      .icon-16-9 { background-position: -288px -512px; }
/* icon-474 */      .icon-16-10 { background-position: -320px -512px; }
/* icon-475 */      .icon-16-11 { background-position: -352px -512px; }
/* icon-476 */      .icon-16-12 { background-position: -384px -512px; }
/* icon-477 */      .icon-16-13 { background-position: -416px -512px; }
/* icon-478 */      .icon-16-14 { background-position: -448px -512px; }
/* icon-479 */      .icon-16-15 { background-position: -480px -512px; }
/* icon-480 */      .icon-16-16 { background-position: -512px -512px; }
/* icon-481 */      .icon-16-17 { background-position: -544px -512px; }
/* icon-482 */      .icon-16-18 { background-position: -576px -512px; }
/* icon-483 */      .icon-16-19 { background-position: -608px -512px; }
/* icon-484 */      .icon-16-20 { background-position: -640px -512px; }
/* icon-485 */      .icon-16-21 { background-position: -672px -512px; }
/* icon-486 */      .icon-16-22 { background-position: -704px -512px; }
/* icon-487 */      .icon-16-23 { background-position: -736px -512px; }
/* icon-488 */      .icon-16-24 { background-position: -768px -512px; }
/* icon-489 */      .icon-16-25 { background-position: -800px -512px; }
/* icon-490 */      .icon-16-26 { background-position: -832px -512px; }
/* icon-491 */      .icon-16-27 { background-position: -864px -512px; }
/* icon-492 */      .icon-16-28 { background-position: -896px -512px; }
/* icon-493 */      .icon-17-0 { background-position: -0px -544px; }
/* icon-494 */      .icon-17-1 { background-position: -32px -544px; }
/* icon-495 */      .icon-17-2 { background-position: -64px -544px; }
/* icon-496 */      .icon-17-3 { background-position: -96px -544px; }
/* icon-497 */      .icon-17-4 { background-position: -128px -544px; }
/* icon-498 */      .icon-17-5 { background-position: -160px -544px; }
/* icon-499 */      .icon-17-6 { background-position: -192px -544px; }
/* icon-500 */      .icon-17-7 { background-position: -224px -544px; }
/* icon-501 */      .icon-17-8 { background-position: -256px -544px; }
/* icon-502 */      .icon-17-9 { background-position: -288px -544px; }
/* icon-503 */      .icon-17-10 { background-position: -320px -544px; }
/* icon-504 */      .icon-17-11 { background-position: -352px -544px; }
/* icon-505 */      .icon-17-12 { background-position: -384px -544px; }
/* icon-506 */      .icon-17-13 { background-position: -416px -544px; }
/* icon-507 */      .icon-17-14 { background-position: -448px -544px; }
/* icon-508 */      .icon-17-15 { background-position: -480px -544px; }
/* icon-509 */      .icon-17-16 { background-position: -512px -544px; }
/* icon-510 */      .icon-17-17 { background-position: -544px -544px; }
/* icon-511 */      .icon-17-18 { background-position: -576px -544px; }
/* icon-512 */      .icon-17-19 { background-position: -608px -544px; }
/* icon-513 */      .icon-17-20 { background-position: -640px -544px; }
/* icon-514 */      .icon-17-21 { background-position: -672px -544px; }
/* icon-515 */      .icon-17-22 { background-position: -704px -544px; }
/* icon-516 */      .icon-17-23 { background-position: -736px -544px; }
/* icon-517 */      .icon-17-24 { background-position: -768px -544px; }
/* icon-518 */      .icon-17-25 { background-position: -800px -544px; }
/* icon-519 */      .icon-17-26 { background-position: -832px -544px; }
/* icon-520 */      .icon-17-27 { background-position: -864px -544px; }
/* icon-521 */      .icon-17-28 { background-position: -896px -544px; }
/* icon-522 */      .icon-18-0 { background-position: -0px -576px; }
/* icon-523 */      .icon-18-1 { background-position: -32px -576px; }
/* icon-524 */      .icon-18-2 { background-position: -64px -576px; }
/* icon-525 */      .icon-18-3 { background-position: -96px -576px; }
/* icon-526 */      .icon-18-4 { background-position: -128px -576px; }
/* icon-527 */      .icon-18-5 { background-position: -160px -576px; }
/* icon-528 */      .icon-18-6 { background-position: -192px -576px; }
/* icon-529 */      .icon-18-7 { background-position: -224px -576px; }
/* icon-530 */      .icon-18-8 { background-position: -256px -576px; }
/* icon-531 */      .icon-18-9 { background-position: -288px -576px; }
/* icon-532 */      .icon-18-10 { background-position: -320px -576px; }
/* icon-533 */      .icon-18-11 { background-position: -352px -576px; }
/* icon-534 */      .icon-18-12 { background-position: -384px -576px; }
/* icon-535 */      .icon-18-13 { background-position: -416px -576px; }
/* icon-536 */      .icon-18-14 { background-position: -448px -576px; }
/* icon-537 */      .icon-18-15 { background-position: -480px -576px; }
/* icon-538 */      .icon-18-16 { background-position: -512px -576px; }
/* icon-539 */      .icon-18-17 { background-position: -544px -576px; }
/* icon-540 */      .icon-18-18 { background-position: -576px -576px; }
/* icon-541 */      .icon-18-19 { background-position: -608px -576px; }
/* icon-542 */      .icon-18-20 { background-position: -640px -576px; }
/* icon-543 */      .icon-18-21 { background-position: -672px -576px; }
/* icon-544 */      .icon-18-22 { background-position: -704px -576px; }
/* icon-545 */      .icon-18-23 { background-position: -736px -576px; }
/* icon-546 */      .icon-18-24 { background-position: -768px -576px; }
/* icon-547 */      .icon-18-25 { background-position: -800px -576px; }
/* icon-548 */      .icon-18-26 { background-position: -832px -576px; }
/* icon-549 */      .icon-18-27 { background-position: -864px -576px; }
/* icon-550 */      .icon-18-28 { background-position: -896px -576px; }
/* icon-551 */      .icon-19-0 { background-position: -0px -608px; }
/* icon-552 */      .icon-19-1 { background-position: -32px -608px; }
/* icon-553 */      .icon-19-2 { background-position: -64px -608px; }
/* icon-554 */      .icon-19-3 { background-position: -96px -608px; }
/* icon-555 */      .icon-19-4 { background-position: -128px -608px; }
/* icon-556 */      .icon-19-5 { background-position: -160px -608px; }
/* icon-557 */      .icon-19-6 { background-position: -192px -608px; }
/* icon-558 */      .icon-19-7 { background-position: -224px -608px; }
/* icon-559 */      .icon-19-8 { background-position: -256px -608px; }
/* icon-560 */      .icon-19-9 { background-position: -288px -608px; }
/* icon-561 */      .icon-19-10 { background-position: -320px -608px; }
/* icon-562 */      .icon-19-11 { background-position: -352px -608px; }
/* icon-563 */      .icon-19-12 { background-position: -384px -608px; }
/* icon-564 */      .icon-19-13 { background-position: -416px -608px; }
/* icon-565 */      .icon-19-14 { background-position: -448px -608px; }
/* icon-566 */      .icon-19-15 { background-position: -480px -608px; }
/* icon-567 */      .icon-19-16 { background-position: -512px -608px; }
/* icon-568 */      .icon-19-17 { background-position: -544px -608px; }
/* icon-569 */      .icon-19-18 { background-position: -576px -608px; }
/* icon-570 */      .icon-19-19 { background-position: -608px -608px; }
/* icon-571 */      .icon-19-20 { background-position: -640px -608px; }
/* icon-572 */      .icon-19-21 { background-position: -672px -608px; }
/* icon-573 */      .icon-19-22 { background-position: -704px -608px; }
/* icon-574 */      .icon-19-23 { background-position: -736px -608px; }
/* icon-575 */      .icon-19-24 { background-position: -768px -608px; }
/* icon-576 */      .icon-19-25 { background-position: -800px -608px; }
/* icon-577 */      .icon-19-26 { background-position: -832px -608px; }
/* icon-578 */      .icon-19-27 { background-position: -864px -608px; }
/* icon-579 */      .icon-19-28 { background-position: -896px -608px; }
/* icon-580 */      .icon-20-0 { background-position: -0px -640px; }
/* icon-581 */      .icon-20-1 { background-position: -32px -640px; }
/* icon-582 */      .icon-20-2 { background-position: -64px -640px; }
/* icon-583 */      .icon-20-3 { background-position: -96px -640px; }
/* icon-584 */      .icon-20-4 { background-position: -128px -640px; }
/* icon-585 */      .icon-20-5 { background-position: -160px -640px; }
/* icon-586 */      .icon-20-6 { background-position: -192px -640px; }
/* icon-587 */      .icon-20-7 { background-position: -224px -640px; }
/* icon-588 */      .icon-20-8 { background-position: -256px -640px; }
/* icon-589 */      .icon-20-9 { background-position: -288px -640px; }
/* icon-590 */      .icon-20-10 { background-position: -320px -640px; }
/* icon-591 */      .icon-20-11 { background-position: -352px -640px; }
/* icon-592 */      .icon-20-12 { background-position: -384px -640px; }
/* icon-593 */      .icon-20-13 { background-position: -416px -640px; }
/* icon-594 */      .icon-20-14 { background-position: -448px -640px; }
/* icon-595 */      .icon-20-15 { background-position: -480px -640px; }
/* icon-596 */      .icon-20-16 { background-position: -512px -640px; }
/* icon-597 */      .icon-20-17 { background-position: -544px -640px; }
/* icon-598 */      .icon-20-18 { background-position: -576px -640px; }
/* icon-599 */      .icon-20-19 { background-position: -608px -640px; }
/* icon-600 */      .icon-20-20 { background-position: -640px -640px; }
/* icon-601 */      .icon-20-21 { background-position: -672px -640px; }
/* icon-602 */      .icon-20-22 { background-position: -704px -640px; }
/* icon-603 */      .icon-20-23 { background-position: -736px -640px; }
/* icon-604 */      .icon-20-24 { background-position: -768px -640px; }
/* icon-605 */      .icon-20-25 { background-position: -800px -640px; }
/* icon-606 */      .icon-20-26 { background-position: -832px -640px; }
/* icon-607 */      .icon-20-27 { background-position: -864px -640px; }
/* icon-608 */      .icon-20-28 { background-position: -896px -640px; }
/* icon-609 */      .icon-21-0 { background-position: -0px -672px; }
/* icon-610 */      .icon-21-1 { background-position: -32px -672px; }
/* icon-611 */      .icon-21-2 { background-position: -64px -672px; }
/* icon-612 */      .icon-21-3 { background-position: -96px -672px; }
/* icon-613 */      .icon-21-4 { background-position: -128px -672px; }
/* icon-614 */      .icon-21-5 { background-position: -160px -672px; }
/* icon-615 */      .icon-21-6 { background-position: -192px -672px; }
/* icon-616 */      .icon-21-7 { background-position: -224px -672px; }
/* icon-617 */      .icon-21-8 { background-position: -256px -672px; }
/* icon-618 */      .icon-21-9 { background-position: -288px -672px; }
/* icon-619 */      .icon-21-10 { background-position: -320px -672px; }
/* icon-620 */      .icon-21-11 { background-position: -352px -672px; }
/* icon-621 */      .icon-21-12 { background-position: -384px -672px; }
/* icon-622 */      .icon-21-13 { background-position: -416px -672px; }
/* icon-623 */      .icon-21-14 { background-position: -448px -672px; }
/* icon-624 */      .icon-21-15 { background-position: -480px -672px; }
/* icon-625 */      .icon-21-16 { background-position: -512px -672px; }
/* icon-626 */      .icon-21-17 { background-position: -544px -672px; }
/* icon-627 */      .icon-21-18 { background-position: -576px -672px; }
/* icon-628 */      .icon-21-19 { background-position: -608px -672px; }
/* icon-629 */      .icon-21-20 { background-position: -640px -672px; }
/* icon-630 */      .icon-21-21 { background-position: -672px -672px; }
/* icon-631 */      .icon-21-22 { background-position: -704px -672px; }
/* icon-632 */      .icon-21-23 { background-position: -736px -672px; }
/* icon-633 */      .icon-21-24 { background-position: -768px -672px; }
/* icon-634 */      .icon-21-25 { background-position: -800px -672px; }
/* icon-635 */      .icon-21-26 { background-position: -832px -672px; }
/* icon-636 */      .icon-21-27 { background-position: -864px -672px; }
/* icon-637 */      .icon-21-28 { background-position: -896px -672px; }
/* icon-638 */      .icon-22-0 { background-position: -0px -704px; }
/* icon-639 */      .icon-22-1 { background-position: -32px -704px; }
/* icon-640 */      .icon-22-2 { background-position: -64px -704px; }
/* icon-641 */      .icon-22-3 { background-position: -96px -704px; }
/* icon-642 */      .icon-22-4 { background-position: -128px -704px; }
/* icon-643 */      .icon-22-5 { background-position: -160px -704px; }
/* icon-644 */      .icon-22-6 { background-position: -192px -704px; }
/* icon-645 */      .icon-22-7 { background-position: -224px -704px; }
/* icon-646 */      .icon-22-8 { background-position: -256px -704px; }
/* icon-647 */      .icon-22-9 { background-position: -288px -704px; }
/* icon-648 */      .icon-22-10 { background-position: -320px -704px; }
/* icon-649 */      .icon-22-11 { background-position: -352px -704px; }
/* icon-650 */      .icon-22-12 { background-position: -384px -704px; }
/* icon-651 */      .icon-22-13 { background-position: -416px -704px; }
/* icon-652 */      .icon-22-14 { background-position: -448px -704px; }
/* icon-653 */      .icon-22-15 { background-position: -480px -704px; }
/* icon-654 */      .icon-22-16 { background-position: -512px -704px; }
/* icon-655 */      .icon-22-17 { background-position: -544px -704px; }
/* icon-656 */      .icon-22-18 { background-position: -576px -704px; }
/* icon-657 */      .icon-22-19 { background-position: -608px -704px; }
/* icon-658 */      .icon-22-20 { background-position: -640px -704px; }
/* icon-659 */      .icon-22-21 { background-position: -672px -704px; }
/* icon-660 */      .icon-22-22 { background-position: -704px -704px; }
/* icon-661 */      .icon-22-23 { background-position: -736px -704px; }
/* icon-662 */      .icon-22-24 { background-position: -768px -704px; }
/* icon-663 */      .icon-22-25 { background-position: -800px -704px; }
/* icon-664 */      .icon-22-26 { background-position: -832px -704px; }
/* icon-665 */      .icon-22-27 { background-position: -864px -704px; }
/* icon-666 */      .icon-22-28 { background-position: -896px -704px; }
/* icon-667 */      .icon-23-0 { background-position: -0px -736px; }
/* icon-668 */      .icon-23-1 { background-position: -32px -736px; }
/* icon-669 */      .icon-23-2 { background-position: -64px -736px; }
/* icon-670 */      .icon-23-3 { background-position: -96px -736px; }
/* icon-671 */      .icon-23-4 { background-position: -128px -736px; }
/* icon-672 */      .icon-23-5 { background-position: -160px -736px; }
/* icon-673 */      .icon-23-6 { background-position: -192px -736px; }
/* icon-674 */      .icon-23-7 { background-position: -224px -736px; }
/* icon-675 */      .icon-23-8 { background-position: -256px -736px; }
/* icon-676 */      .icon-23-9 { background-position: -288px -736px; }
/* icon-677 */      .icon-23-10 { background-position: -320px -736px; }
/* icon-678 */      .icon-23-11 { background-position: -352px -736px; }
/* icon-679 */      .icon-23-12 { background-position: -384px -736px; }
/* icon-680 */      .icon-23-13 { background-position: -416px -736px; }
/* icon-681 */      .icon-23-14 { background-position: -448px -736px; }
/* icon-682 */      .icon-23-15 { background-position: -480px -736px; }
/* icon-683 */      .icon-23-16 { background-position: -512px -736px; }
/* icon-684 */      .icon-23-17 { background-position: -544px -736px; }
/* icon-685 */      .icon-23-18 { background-position: -576px -736px; }
/* icon-686 */      .icon-23-19 { background-position: -608px -736px; }
/* icon-687 */      .icon-23-20 { background-position: -640px -736px; }
/* icon-688 */      .icon-23-21 { background-position: -672px -736px; }
/* icon-689 */      .icon-23-22 { background-position: -704px -736px; }
/* icon-690 */      .icon-23-23 { background-position: -736px -736px; }
/* icon-691 */      .icon-23-24 { background-position: -768px -736px; }
/* icon-692 */      .icon-23-25 { background-position: -800px -736px; }
/* icon-693 */      .icon-23-26 { background-position: -832px -736px; }
/* icon-694 */      .icon-23-27 { background-position: -864px -736px; }
/* icon-695 */      .icon-23-28 { background-position: -896px -736px; }
/* icon-696 */      .icon-24-0 { background-position: -0px -768px; }
/* icon-697 */      .icon-24-1 { background-position: -32px -768px; }
/* icon-698 */      .icon-24-2 { background-position: -64px -768px; }
/* icon-699 */      .icon-24-3 { background-position: -96px -768px; }
/* icon-700 */      .icon-24-4 { background-position: -128px -768px; }
/* icon-701 */      .icon-24-5 { background-position: -160px -768px; }
/* icon-702 */      .icon-24-6 { background-position: -192px -768px; }
/* icon-703 */      .icon-24-7 { background-position: -224px -768px; }
/* icon-704 */      .icon-24-8 { background-position: -256px -768px; }
/* icon-705 */      .icon-24-9 { background-position: -288px -768px; }
/* icon-706 */      .icon-24-10 { background-position: -320px -768px; }
/* icon-707 */      .icon-24-11 { background-position: -352px -768px; }
/* icon-708 */      .icon-24-12 { background-position: -384px -768px; }
/* icon-709 */      .icon-24-13 { background-position: -416px -768px; }
/* icon-710 */      .icon-24-14 { background-position: -448px -768px; }
/* icon-711 */      .icon-24-15 { background-position: -480px -768px; }
/* icon-712 */      .icon-24-16 { background-position: -512px -768px; }
/* icon-713 */      .icon-24-17 { background-position: -544px -768px; }
/* icon-714 */      .icon-24-18 { background-position: -576px -768px; }
/* icon-715 */      .icon-24-19 { background-position: -608px -768px; }
/* icon-716 */      .icon-24-20 { background-position: -640px -768px; }
/* icon-717 */      .icon-24-21 { background-position: -672px -768px; }
/* icon-718 */      .icon-24-22 { background-position: -704px -768px; }
/* icon-719 */      .icon-24-23 { background-position: -736px -768px; }
/* icon-720 */      .icon-24-24 { background-position: -768px -768px; }
/* icon-721 */      .icon-24-25 { background-position: -800px -768px; }
/* icon-722 */      .icon-24-26 { background-position: -832px -768px; }
/* icon-723 */      .icon-24-27 { background-position: -864px -768px; }
/* icon-724 */      .icon-24-28 { background-position: -896px -768px; }
/* icon-725 */      .icon-25-0 { background-position: -0px -800px; }
/* icon-726 */      .icon-25-1 { background-position: -32px -800px; }
/* icon-727 */      .icon-25-2 { background-position: -64px -800px; }
/* icon-728 */      .icon-25-3 { background-position: -96px -800px; }
/* icon-729 */      .icon-25-4 { background-position: -128px -800px; }
/* icon-730 */      .icon-25-5 { background-position: -160px -800px; }
/* icon-731 */      .icon-25-6 { background-position: -192px -800px; }
/* icon-732 */      .icon-25-7 { background-position: -224px -800px; }
/* icon-733 */      .icon-25-8 { background-position: -256px -800px; }
/* icon-734 */      .icon-25-9 { background-position: -288px -800px; }
/* icon-735 */      .icon-25-10 { background-position: -320px -800px; }
/* icon-736 */      .icon-25-11 { background-position: -352px -800px; }
/* icon-737 */      .icon-25-12 { background-position: -384px -800px; }
/* icon-738 */      .icon-25-13 { background-position: -416px -800px; }
/* icon-739 */      .icon-25-14 { background-position: -448px -800px; }
/* icon-740 */      .icon-25-15 { background-position: -480px -800px; }
/* icon-741 */      .icon-25-16 { background-position: -512px -800px; }
/* icon-742 */      .icon-25-17 { background-position: -544px -800px; }
/* icon-743 */      .icon-25-18 { background-position: -576px -800px; }
/* icon-744 */      .icon-25-19 { background-position: -608px -800px; }
/* icon-745 */      .icon-25-20 { background-position: -640px -800px; }
/* icon-746 */      .icon-25-21 { background-position: -672px -800px; }
/* icon-747 */      .icon-25-22 { background-position: -704px -800px; }
/* icon-748 */      .icon-25-23 { background-position: -736px -800px; }
/* icon-749 */      .icon-25-24 { background-position: -768px -800px; }
/* icon-750 */      .icon-25-25 { background-position: -800px -800px; }
/* icon-751 */      .icon-25-26 { background-position: -832px -800px; }
/* icon-752 */      .icon-25-27 { background-position: -864px -800px; }
/* icon-753 */      .icon-25-28 { background-position: -896px -800px; }
/* icon-754 */      .icon-26-0 { background-position: -0px -832px; }
/* icon-755 */      .icon-26-1 { background-position: -32px -832px; }
/* icon-756 */      .icon-26-2 { background-position: -64px -832px; }
/* icon-757 */      .icon-26-3 { background-position: -96px -832px; }
/* icon-758 */      .icon-26-4 { background-position: -128px -832px; }
/* icon-759 */      .icon-26-5 { background-position: -160px -832px; }
/* icon-760 */      .icon-26-6 { background-position: -192px -832px; }
/* icon-761 */      .icon-26-7 { background-position: -224px -832px; }
/* icon-762 */      .icon-26-8 { background-position: -256px -832px; }
/* icon-763 */      .icon-26-9 { background-position: -288px -832px; }
/* icon-764 */      .icon-26-10 { background-position: -320px -832px; }
/* icon-765 */      .icon-26-11 { background-position: -352px -832px; }
/* icon-766 */      .icon-26-12 { background-position: -384px -832px; }
/* icon-767 */      .icon-26-13 { background-position: -416px -832px; }
/* icon-768 */      .icon-26-14 { background-position: -448px -832px; }
/* icon-769 */      .icon-26-15 { background-position: -480px -832px; }
/* icon-770 */      .icon-26-16 { background-position: -512px -832px; }
/* icon-771 */      .icon-26-17 { background-position: -544px -832px; }
/* icon-772 */      .icon-26-18 { background-position: -576px -832px; }
/* icon-773 */      .icon-26-19 { background-position: -608px -832px; }
/* icon-774 */      .icon-26-20 { background-position: -640px -832px; }
/* icon-775 */      .icon-26-21 { background-position: -672px -832px; }
/* icon-776 */      .icon-26-22 { background-position: -704px -832px; }
/* icon-777 */      .icon-26-23 { background-position: -736px -832px; }
/* icon-778 */      .icon-26-24 { background-position: -768px -832px; }
/* icon-779 */      .icon-26-25 { background-position: -800px -832px; }
/* icon-780 */      .icon-26-26 { background-position: -832px -832px; }
/* icon-781 */      .icon-26-27 { background-position: -864px -832px; }
/* icon-782 */      .icon-26-28 { background-position: -896px -832px; }
/* icon-783 */      .icon-27-0 { background-position: -0px -864px; }
/* icon-784 */      .icon-27-1 { background-position: -32px -864px; }
/* icon-785 */      .icon-27-2 { background-position: -64px -864px; }
/* icon-786 */      .icon-27-3 { background-position: -96px -864px; }
/* icon-787 */      .icon-27-4 { background-position: -128px -864px; }
/* icon-788 */      .icon-27-5 { background-position: -160px -864px; }
/* icon-789 */      .icon-27-6 { background-position: -192px -864px; }
/* icon-790 */      .icon-27-7 { background-position: -224px -864px; }
/* icon-791 */      .icon-27-8 { background-position: -256px -864px; }
/* icon-792 */      .icon-27-9 { background-position: -288px -864px; }
/* icon-793 */      .icon-27-10 { background-position: -320px -864px; }
/* icon-794 */      .icon-27-11 { background-position: -352px -864px; }
/* icon-795 */      .icon-27-12 { background-position: -384px -864px; }
/* icon-796 */      .icon-27-13 { background-position: -416px -864px; }
/* icon-797 */      .icon-27-14 { background-position: -448px -864px; }
/* icon-798 */      .icon-27-15 { background-position: -480px -864px; }
/* icon-799 */      .icon-27-16 { background-position: -512px -864px; }
/* icon-800 */      .icon-27-17 { background-position: -544px -864px; }
/* icon-801 */      .icon-27-18 { background-position: -576px -864px; }
/* icon-802 */      .icon-27-19 { background-position: -608px -864px; }
/* icon-803 */      .icon-27-20 { background-position: -640px -864px; }
/* icon-804 */      .icon-27-21 { background-position: -672px -864px; }
/* icon-805 */      .icon-27-22 { background-position: -704px -864px; }
/* icon-806 */      .icon-27-23 { background-position: -736px -864px; }
/* icon-807 */      .icon-27-24 { background-position: -768px -864px; }
/* icon-808 */      .icon-27-25 { background-position: -800px -864px; }
/* icon-809 */      .icon-27-26 { background-position: -832px -864px; }
/* icon-810 */      .icon-27-27 { background-position: -864px -864px; }
/* icon-811 */      .icon-27-28 { background-position: -896px -864px; }